/* Dropdown Button */
.dropbtn {
  color: white;
  padding: 10px 20px 10px 20px;
  border: none;
  background-color: #3A693F;
  color: #FFFFFF;
  font-size: 25px;
  width: 170px;
  height: 55px;
  border-radius: 30px;
  box-shadow: 0px 4px 40px rgba(51, 66, 53, 0.40);

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.dropdown-content a {
  color: #3A693F;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #3A693F;
  background-color: #CBE2C5;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}